<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="ca.rmen.android.scrumchatter">
    <uses-sdk tools:overrideLibrary="org.apmem.tools.layouts"/>
    <application android:allowBackup="true" android:fullBackupContent="@xml/backup_scheme" android:supportsRtl="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:name="ca.rmen.android.scrumchatter.main.MainActivity" android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.db" android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity android:name="ca.rmen.android.scrumchatter.meeting.detail.MeetingActivity" android:label="@string/app_name" android:parentActivityName="ca.rmen.android.scrumchatter.main.MainActivity" tools:ignore="UnusedAttribute">
            <!--  Parent activity meta-data to support 4.0 and lower  -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="ca.rmen.android.scrumchatter.main.MainActivity"/>
        </activity>
        <activity android:name=".chart.ChartsActivity" android:label="@string/title_chart" android:parentActivityName="ca.rmen.android.scrumchatter.main.MainActivity" android:theme="@style/AppTheme.NoActionBar" tools:ignore="UnusedAttribute">
            <!--  Parent activity meta-data to support 4.0 and lower  -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="ca.rmen.android.scrumchatter.main.MainActivity"/>
        </activity>
        <activity android:name=".chart.MeetingChartActivity" android:label="@string/title_chart"/>
        <activity android:name=".settings.SettingsActivity" android:label="@string/title_activity_settings" android:parentActivityName=".main.MainActivity" tools:ignore="UnusedAttribute">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="ca.rmen.android.scrumchatter.main.MainActivity"/>
        </activity>
        <activity android:name="ca.rmen.android.scrumchatter.about.AboutActivity" android:label="@string/about" android:parentActivityName="ca.rmen.android.scrumchatter.main.MainActivity" tools:ignore="UnusedAttribute">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="ca.rmen.android.scrumchatter.main.MainActivity"/>
        </activity>
        <provider android:name="ca.rmen.android.scrumchatter.provider.ScrumChatterProvider" android:authorities="ca.rmen.android.scrumchatter.provider" android:exported="false"> </provider>
        <provider android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:grantUriPermissions="true" android:exported="false">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>